Seguridad/Seguridad-CargarUsuario-SV/ServiciosCaracol_InlineSchema3.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:short"/>
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona"/>
      <xs:element minOccurs="0" name="TipoAutenticacion" type="xs:short"/>
      <xs:element minOccurs="0" name="UsuarioId" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario"/>
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:Area"/>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="EmailEmpresa" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TelefonoCasa" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TelefonoCelular" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TelefonoEmpresa" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="UsuarioActualizacionId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="UsuarioCreacionId" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona"/>
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PadreId" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area"/>
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario"/>
  <xs:complexType name="ArrayOfPermiso">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Permiso" nillable="true" type="tns:Permiso"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermiso" nillable="true" type="tns:ArrayOfPermiso"/>
  <xs:complexType name="Permiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permiso" nillable="true" type="tns:Permiso"/>
  <xs:complexType name="ArrayOfFuncionalidad">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Funcionalidad" nillable="true" type="tns:Funcionalidad"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionalidad" nillable="true" type="tns:ArrayOfFuncionalidad"/>
  <xs:complexType name="Funcionalidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acceso" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Hijas" nillable="true" type="tns:ArrayOfFuncionalidad"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Permisos" nillable="true" type="tns:ArrayOfPermiso"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionalidad" nillable="true" type="tns:Funcionalidad"/>
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hijas" nillable="true" type="tns:ArrayOfPerfil"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil"/>
  <xs:complexType name="ArrayOfPerfil">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Perfil" nillable="true" type="tns:Perfil"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil" nillable="true" type="tns:ArrayOfPerfil"/>
  <xs:complexType name="FuncionalidadDetallada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Estado" type="xs:short"/>
      <xs:element minOccurs="0" name="FechaPublicacion" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FechaValidez" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Mapa" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Posicion" type="xs:int"/>
      <xs:element minOccurs="0" name="Subtitulo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoCategoriaId" type="xs:int"/>
      <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionalidadDetallada" nillable="true" type="tns:FuncionalidadDetallada"/>
</xs:schema>