Seguridad/Seguridad-CargarUsuario-SV/ServiciosCaracol_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades" schemaLocation="ServiciosCaracol_InlineSchema3.xsd"/>
  <xs:element ibmSchExtn:docRoot="true" name="UsuarioAutenticar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="UsuarioAutenticarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioAutenticarResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="UsuarioCargar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="UsuarioCargarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioCargarResult" nillable="true" type="q1:Usuario" xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="UsuariosDePerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="perfilId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="UsuariosDePerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuariosDePerfilResult" nillable="true" type="q2:ArrayOfUsuario" xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PermisosDeFuncionalidadXUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionalidadId" type="xs:int"/>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PermisosDeFuncionalidadXUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PermisosDeFuncionalidadXUsuarioResult" nillable="true" type="q3:ArrayOfPermiso" xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="FuncionalidadesHijas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionalidadId" type="xs:int"/>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="FuncionalidadesHijasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuncionalidadesHijasResult" nillable="true" type="q4:ArrayOfFuncionalidad" xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaXUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sistemaId" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaXUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerfilesDeSistemaXUsuarioResult" nillable="true" type="q5:Perfil" xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PerfilesDeSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sistemaId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerfilesDeSistemaResult" nillable="true" type="q6:Perfil" xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="FuncionalidadesVisiblesDeSistemaXUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionalidadId" type="xs:int"/>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="FuncionalidadesVisiblesDeSistemaXUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FuncionalidadesVisiblesDeSistemaXUsuarioResult" nillable="true" type="q7:Funcionalidad" xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="ConsultarFuncionalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionalidadId" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="ConsultarFuncionalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarFuncionalidadResult" nillable="true" type="q8:FuncionalidadDetallada" xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>