Xcalibur/XCalibur-ConsultaCentrosCosto-CH/Xcalibur_ConsultaCentrosCosto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultacentroscosto/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultacentroscosto/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaCentrosCostoRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:int"/>
				<xsd:element nillable="true" minOccurs="0" name="Ubicacion" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CodigoSAP" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Descripcion" type="xsd:string"/>            	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaCentrosCostoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CentrosCosto"  minOccurs="0" type="srv:CentrosCosto"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="CentrosCosto" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CentroCosto" type="srv:CentroCosto"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CentrosCosto" type="srv:CentrosCosto" />    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="CentroCosto">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Ubicacion" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CodigoSap"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CodigoClaseSap" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="RangoCuentasClase" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CentroCosto" type="srv:CentroCosto" />
  </xsd:schema>