Xcalibur/XCalibur-ConsultaProveedores-CH/Xcalibur_ConsultaProveedores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultaproveedores/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultaproveedores/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaProveedoresRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Compania" type="xsd:integer"/>
				<xsd:element nillable="true" minOccurs="0" name="Empresa" type="xsd:int"/>
				<xsd:element nillable="true" minOccurs="0" name="NumeroAuxiliar" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Nit"  type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CodigoSAP" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Nombre" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CuentaAsociada" type="xsd:string"/>            	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaProveedoresResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Proveedores"  minOccurs="0" type="srv:Proveedores"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Proveedores" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Proveedor" type="srv:Proveedor"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Proveedores" type="srv:Proveedores" />    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Proveedor">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="NumeroAuxiliar" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Nit"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CodigoSap" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CuentaAsociada" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Telefono"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Direccion"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Correo"  type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Proveedor" type="srv:Proveedor" />
  </xsd:schema>