Xcalibur/Nomina-GenerarCertificadoLaboral-SV/Xcalibur_ConsultaCertificadoLaboral.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultacertificadolaboralv2/" xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultacertificadolaboralv2/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="ConsultaCertificadoLaboralRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="Cia" nillable="false" type="xsd:string"/>
				<xsd:element minOccurs="1" name="Cedula" nillable="false" type="xsd:string"/>
            	<xsd:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="ConsultaCertificadoLaboralResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="CertificadoLaboral" type="srv:CertificadoLaboral"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="CertificadoLaboral">
	<xsd:sequence>
			<xsd:element minOccurs="1" name="Nombres" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="1" name="FechaIngreso" nillable="false" type="xsd:date"/>
            <xsd:element minOccurs="1" name="Cargo" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="1" name="TipoContrato" nillable="false" type="xsd:string"/>
            <xsd:element minOccurs="1" name="Asignacion" nillable="false" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="1" name="TipoAsignacion" nillable="false" type="xsd:string"/>                 
            <xsd:element minOccurs="1" name="Ficha" nillable="false" type="xsd:string"/>
			<xsd:element minOccurs="1" name="Empresa" nillable="false" type="xsd:string"/>            
            <xsd:element minOccurs="1" name="Estado" nillable="false" type="xsd:string"/>            
      	</xsd:sequence>
    </xsd:complexType>
  </xsd:schema>