SAP/GestionLogistica-EnviarMigo-CH/PedidoMigoSAP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/transportes/gestionlogistica/migopedido/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/transportes/gestionlogistica/migopedido/">
  <!--wrapper element of the request message-->
  
 <!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="EnviarMigoRequest">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Cabeza"  type="srv:Cabeza"/>			
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Items"  type="srv:Items"/>			
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="EnviarMigoResponse">
		<xsd:complexType>
			<xsd:sequence>
			
				<xsd:element nillable="false" minOccurs="1" name="Fecha" type="xsd:date"/>	
				<xsd:element nillable="false" minOccurs="1" name="NombreServicio" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TipoM" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="CodigoM" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Mensaje" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Cabeza" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="NotEnt" type="xsd:string"/>		
			<xsd:element nillable="false" minOccurs="1" name="TxtCab" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Pedido" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="ClVope" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="ClsMov" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Fecha" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="IdPaquete" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    
    
       		<xsd:complexType name="Items" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="PosPed" type="xsd:string"/>		
			<xsd:element nillable="false" minOccurs="1" name="Cantidad" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="UnidadMedida" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="EntFin" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Items" type="srv:Items" /> 
  </xsd:schema>