VentasInternacionales/VentasInternacionales-ConsultaProducciones-CH/ConsultaProducciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultaproducciones/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultaproducciones/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaProduccionesRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="0"  name="ProduccionNombre" type="xsd:string"/>				
				<xsd:element nillable="true" minOccurs="0"  name="ProduccionAnio" type="xsd:string"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaProduccionesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Produccion" type="srv:Produccion"/>        	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	

    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Produccion">
	<xsd:sequence>
			<xsd:element nillable="true" minOccurs="1" name="FormatoId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="GeneroId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionAnno" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionCapMinutos" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionCentroCosto" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionCueSheets" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionCueSheetsDetalles" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionFechaCreacion" type="xsd:dateTime"/>			
			<xsd:element nillable="true" minOccurs="1" name="ProduccionFechaModificacion" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionGeneroNombre" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionIdioma" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionIdiomaDoblajes" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionIdiomaSubtitulajes" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionLibretos" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionLibretosIdiomas" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionMasterBI" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionMasterME" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionNombre" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionNrCapitulos" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionObservaciones" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionPromocionesImpresos" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionPromocionesOtros" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionPromocionesVideo" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionReparto" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionSinopsis" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionUsuarioCreacion" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionUsuarioModificacion" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="ProduccionVencimientoDerechos" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="1" name="SistemaId" type="xsd:int"/>
      	</xsd:sequence>
    </xsd:complexType>
	<xsd:element name="Produccion" type="srv:Produccion" />
  </xsd:schema>