TI/GestionarUsuarios-CrearUsuarioDominio/CrearUsuarioDirectorioActivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/ti/gestionarusuarios/crearusuariodominio/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/ti/gestionarusuarios/crearusuariodominio/">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearUsuarioDominioRequest">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element maxOccurs="1" minOccurs="1" name="Usuario" type="xsd:string"/>
				 <xsd:element maxOccurs="1" minOccurs="1" name="Nombres" type="xsd:string"/>		
				 <xsd:element maxOccurs="1" minOccurs="1" name="Apellidos" type="xsd:string"/>
 				 <xsd:element maxOccurs="1" minOccurs="1" name="Cargo" type="xsd:string"/>		
				 <xsd:element maxOccurs="1" minOccurs="1" name="UbicacionOficina" type="xsd:string"/>
 				 <xsd:element maxOccurs="1" minOccurs="1" name="Ciudad" type="xsd:string"/>
 				 <xsd:element nillable="false" maxOccurs="1" minOccurs="0" name="Cedula" type="xsd:string"/>
  				 <xsd:element maxOccurs="1" minOccurs="1" name="Area" type="xsd:string"/>
 				 <xsd:element maxOccurs="1" minOccurs="1" name="Compania" type="xsd:string"/> 
 				 <xsd:element maxOccurs="1" minOccurs="1" name="Referencia" type="xsd:string"/> 				   				  				 
 				 <xsd:element maxOccurs="1" minOccurs="1" name="TipoLicencia" type="xsd:string"/> 
 				 <xsd:element maxOccurs="1" minOccurs="1" name="NombreEntrega" type="xsd:string"/>
 				 <xsd:element maxOccurs="1" minOccurs="1" name="FirmaEntrega" type="xsd:string"/>   
 				 <xsd:element maxOccurs="1" minOccurs="1" name="UnidadesOrganizacionales" type="xsd:string"/>   			 	
				 <xsd:element maxOccurs="1" minOccurs="1" name="DisplayName" type="xsd:string"/>
				 <xsd:element maxOccurs="1" minOccurs="1" name="CorreoDominio" type="xsd:string"/>
				 <xsd:element maxOccurs="1" minOccurs="1" name="Members" type="xsd:string"/> 
				 <xsd:element maxOccurs="1" minOccurs="1" name="Pais" type="xsd:string"/> 				 
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearUsuarioDominioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Asignada" type="xsd:boolean"/> 
				<xsd:element name="Descripcion" type="xsd:string"/> 
				<xsd:element name="Archivo" type="xsd:base64Binary"/>				
				<xsd:element name="NombreArchivo" type="xsd:string"/>	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	   	
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="TokenRequest">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element name="token" type="xsd:string"/>				       		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	   	
  </xsd:schema>