Correo/Correo-CargaPlantillaV4-CH/Correo-AdjuntarPlantilla.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.caracoltv.com.co/TI/correo/cargaplantilla4/" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/TI/correo/cargaplantilla4/" 
xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">

  <!--wrapper element of the request message-->
  
   <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
   ibmSchExtn:docRoot="true" name="CargaPlantillaRequest">

		<xsd:complexType >
			<xsd:sequence>
				<xsd:element name="De" type="xsd:string"/>
			      <xsd:element name="Para" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Copia" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="CopiaOculta" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Asunto" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Titulo" type="xsd:string"/>
			      <xsd:element name="Mensaje1" type="xsd:string"/>
			      <xsd:element name="Mensaje2" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="TextoLink" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Link" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Prioridad" type="xsd:string"/>
			      <xsd:element minOccurs="0" name="Plantilla" type="xsd:string"/>
			      <xsd:element  minOccurs="0" name="AAdjuntos" type="srv:Adjuntos" nillable="true" />
			</xsd:sequence>
		</xsd:complexType>		
	 </xsd:element>
	
	<xsd:complexType name="Adjuntos" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Adjunto" type="srv:Adjunto"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Adjuntos" type="srv:Adjuntos" />    
   
	<xsd:complexType name="Adjunto">
	<xsd:sequence>
			<xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Data" type="xsd:base64Binary"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Adjunto" type="srv:Adjunto" />
</xsd:schema>