TI/MDM-ConsultaProveedores/Proveedor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ti/mdm/canonico/proveedor/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:srv="http://www.caracoltv.com.co/ti/mdm/canonico/proveedor/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Consulta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Codigo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CodigoSAP" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CuentaAsociada" type="xsd:string"/>	
				<xsd:element nillable="false" minOccurs="1" name="IdXCalibur" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Proveedores">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Proveedor" type="srv:Proveedor"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
		

		<xsd:complexType name="Proveedor" >
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Codigo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoIdentificacion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="GrupoCuenta" type="xsd:string"/>				
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Direccion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono1" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono2" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono3" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Email" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="NombreAlternativo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CuentaAsociada" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ProveedorContacto" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ProveedorContactoTelefono" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ProveedorCargoContacto" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ProveedorContactoEmail" type="xsd:string"/>				
				<xsd:element nillable="false" minOccurs="1" name="Estado" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Plataforma" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Rut" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoEmpresa" type="xsd:string"/>		
				<xsd:element nillable="false" minOccurs="1" name="CodigoSAP" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="IdXCalibur" type="xsd:string"/>	
				<xsd:element nillable="false" minOccurs="1" name="Departamento" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Ciudad" type="xsd:string"/>					
									
			</xsd:sequence>
		</xsd:complexType>				
		<xsd:element name="Proveedor" type="srv:Proveedor" />
  </xsd:schema>