Xcalibur/XCalibur-ConsultaOrdenesInternas-CH/Xcalibur_ConsultaOrdenesInternas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultaordenesinternas/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultaordenesinternas/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaOrdenesInternasRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:int"/>
				<xsd:element nillable="true" minOccurs="0" name="Ubicacion" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Descripcion"  type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CodigoSap" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaOrdenesInternasResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OrdenesInternas"  minOccurs="0" type="srv:OrdenesInternas"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="OrdenesInternas" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="OrdenInterna" type="srv:OrdenInterna"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrdenesInternas" type="srv:OrdenesInternas" />    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="OrdenInterna">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="CodigoUbicacion" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CodigoSap" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Clase" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Rango"  type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrdenInterna" type="srv:OrdenInterna" />
  </xsd:schema>