Seguridad/Seguridad-PermisosFuncionalidadXusuario-CH/seguridad_PermisosFuncionalidadXusuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/seguridad/permisosfuncionalidadxusuario/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/permisosfuncionalidadxusuario/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="PermisosFuncionalidadXUsuarioRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="funcionalidadid" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1" name="usuarioid" type="xsd:string"/>		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="PermisosFuncionalidadXUsuarioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Permiso" type="srv:Permiso"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	

    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Permiso">
	<xsd:sequence>
			<xsd:element nillable="true" minOccurs="1" name="Id" type="xsd:int"/>
            <xsd:element nillable="true" minOccurs="1" name="Nombre" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
	<xsd:element name="Permiso" type="srv:Permiso" />
  </xsd:schema>