Xcalibur/XCalibur-ConsultaClientes-CH/Xcalibur_ConsultaClientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultaclientes/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultaclientes/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaClientesRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:int"/>
				<xsd:element nillable="true" minOccurs="0" name="NumeroAuxiliar" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Nit"  type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CodigoSAP" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="Nombre" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="CuentaAsociada" type="xsd:string"/>            	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaClientesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Clientes"  minOccurs="0" type="srv:Clientes"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Clientes" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Cliente" type="srv:Cliente"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Clientes" type="srv:Clientes" />    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Cliente">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="NumeroAuxiliar" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Nit"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CodigoSap" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CuentaAsociada" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Telefono"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Direccion"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Correo"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="ProveedorRelacionado"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="CuentaProveedor"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Region"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Poblacion"  type="xsd:string"/>                             
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Cliente" type="srv:Cliente" />
  </xsd:schema>