Seguridad/WSDL/Seguridad_Autentica/Especifico/xsd_xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades">
  <xsd:complexType name="Usuario">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Estado" type="xsd:short"/>
      <xsd:element minOccurs="0" name="FechaCreacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona"/>
      <xsd:element minOccurs="0" name="TipoAutenticacion" type="xsd:short"/>
      <xsd:element minOccurs="0" name="UsuarioId" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Usuario" nillable="true" type="tns:Usuario"/>
  <xsd:complexType name="Persona">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Area" nillable="true" type="tns:Area"/>
      <xsd:element minOccurs="0" name="Direccion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="EmailEmpresa" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Extension" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FechaCreacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Foto" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Id" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Identificacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PrimerApellido" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PrimerNombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SegundoApellido" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SegundoNombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TelefonoCasa" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TelefonoCelular" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TelefonoEmpresa" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UsuarioActualizacionId" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UsuarioCreacionId" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Persona" nillable="true" type="tns:Persona"/>
  <xsd:complexType name="Area">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Descripcion" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PadreId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Area" nillable="true" type="tns:Area"/>
  <xsd:complexType name="ArrayOfUsuario">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario"/>
  <xsd:complexType name="ArrayOfPermiso">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Permiso" nillable="true" type="tns:Permiso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfPermiso" nillable="true" type="tns:ArrayOfPermiso"/>
  <xsd:complexType name="Permiso">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Permiso" nillable="true" type="tns:Permiso"/>
  <xsd:complexType name="ArrayOfFuncionalidad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Funcionalidad" nillable="true" type="tns:Funcionalidad"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfFuncionalidad" nillable="true" type="tns:ArrayOfFuncionalidad"/>
  <xsd:complexType name="Funcionalidad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Acceso" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Contenido" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Hijas" nillable="true" type="tns:ArrayOfFuncionalidad"/>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Imagen" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Permisos" nillable="true" type="tns:ArrayOfPermiso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Funcionalidad" nillable="true" type="tns:Funcionalidad"/>
  <xsd:complexType name="Perfil">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Hijas" nillable="true" type="tns:ArrayOfPerfil"/>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Perfil" nillable="true" type="tns:Perfil"/>
  <xsd:complexType name="ArrayOfPerfil">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Perfil" nillable="true" type="tns:Perfil"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfPerfil" nillable="true" type="tns:ArrayOfPerfil"/>
</xsd:schema>