TI/MDM-ConsultaClientes/RemoteFiles/xsd_xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="xsd_xsd1.xsd"/>
  <xsd:complexType name="ArrayOfanyType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfanyType" nillable="true" type="tns:ArrayOfanyType"/>
  <xsd:complexType name="ArrayOfguid">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="guid" type="ser:guid"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfguid" nillable="true" type="tns:ArrayOfguid"/>
  <xsd:complexType name="ArrayOfKeyValueOfguidArrayOfguidox8ieOcg">
    <xsd:annotation>
      <xsd:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="KeyValueOfguidArrayOfguidox8ieOcg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Key" type="ser:guid"/>
            <xsd:element name="Value" nillable="true" type="tns:ArrayOfguid"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfKeyValueOfguidArrayOfguidox8ieOcg" nillable="true" type="tns:ArrayOfKeyValueOfguidArrayOfguidox8ieOcg"/>
  <xsd:complexType name="ArrayOfint">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="int" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint"/>
  <xsd:complexType name="ArrayOfstring">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
  <xsd:complexType name="ArrayOfKeyValueOfstringstring">
    <xsd:annotation>
      <xsd:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="KeyValueOfstringstring">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Key" nillable="true" type="xsd:string"/>
            <xsd:element name="Value" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring"/>
</xsd:schema>