TI/LDAP-ConsultaMaquinaDominio/ConsultaMaquinaDominio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/ti/consulta/consultarmaquinadominio/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/ti/consulta/consultarmaquinadominio/"
xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ValidarMaquinaRequest">
<!--		type="srv:SeguridadAutenticaRequestType">		-->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NombreMaquina" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ValidarMaquinaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EnDominio" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>   	
  </xsd:schema>