Xcalibur/XCalibur-ConsultaCertificadoLaboral-SV/WS_ConsultaCertificadoLaboralProduccion_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.caracoltv.com.co/Xcalibur/NM/CerLaboral/ConsultaCertificadoLaboralXcalibur" xmlns:S1="urn:soap-fault:details" xmlns:S2="http://www.caracoltv.com.co/Xcalibur/NM/CerLaboral/ConsultaCertificadoLaboralXcalibur" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.caracoltv.com.co/Xcalibur/NM/CerLaboral" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element ibmSchExtn:docRoot="true" name="ConsultarDatosCertificado">
    <complexType>
      <sequence>
        <element name="Cia" nillable="true" type="int"/>
        <element name="Cedula" nillable="true" type="string"/>
        <element name="Fechanacimiento" nillable="true" type="date"/>
      </sequence>
    </complexType>
  </element>
  <element ibmSchExtn:docRoot="true" name="ConsultarDatosCertificadoResponse">
    <complexType>
      <sequence>
        <element name="result" nillable="true" type="string"/>
        <element name="Nombres" nillable="true" type="string"/>
        <element name="FechaIngreso" nillable="true" type="date"/>
        <element name="Cargo" nillable="true" type="string"/>
        <element name="TipoContrato" nillable="true" type="string"/>
        <element name="Asignacion" nillable="true" type="decimal"/>
        <element name="CorreoElectronico" nillable="true" type="string"/>
        <element name="TipoAsignacion" nillable="true" type="string"/>
        <element name="Ficha" nillable="true" type="string"/>
        <element name="NombreCia" nillable="true" type="string"/>
        <element name="Estado" nillable="true" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>