Xcalibur/XCalibur-ConsultaCertificadoLaboral-CH/Xcalibur_ConsultaCertificadoLaboral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/xcalibur/consultacertificadolaboralv2/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/xcalibur/consultacertificadolaboralv2/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaCertificadoLaboralRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Cia" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Cedula" type="xsd:string"/>
            	<xsd:element nillable="true" minOccurs="0" name="FechaNacimiento"  type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaCertificadoLaboralResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CertificadoLaboral" maxOccurs="unbounded" minOccurs="0" type="srv:CertificadoLaboral"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="CertificadoLaboral">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Nombres" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="FechaIngreso" type="xsd:date"/>
            <xsd:element nillable="false" minOccurs="1" name="Cargo"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="TipoContrato" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Asignacion" type="xsd:decimal"/>
            <xsd:element nillable="true" minOccurs="0" name="CorreoElectronico"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="TipoAsignacion" type="xsd:string"/>                 
            <xsd:element nillable="false" minOccurs="1" name="Ficha" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Empresa" type="xsd:string"/>            
            <xsd:element nillable="false" minOccurs="1" name="Estado" type="xsd:string"/>            
      	</xsd:sequence>
    </xsd:complexType>
  </xsd:schema>