SAP/GestionLogistica-CreacionPedidoCostosAdicionales-CH/CreacionPedidoCostosAdicionales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/transportes/gestionlogistica/creacionpedidocostosadicionales/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/transportes/gestionlogistica/creacionpedidocostosadicionales/">
  <!--wrapper element of the request message-->
  
 <!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CreacionPedidoCostosAdicionalesRequest">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Cabecera"  type="srv:Cabecera"/>			
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="PosicionGeneral"  type="srv:PosicionGeneral"/>			
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CreacionPedidoCostosAdicionalesResponse">
		<xsd:complexType>
			<xsd:sequence>			
				<xsd:element nillable="false" minOccurs="1" name="Fecha" type="xsd:date"/>	
				<xsd:element nillable="false" minOccurs="1" name="NombreServicio" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoM" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CodigoM" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Mensaje" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Cabecera" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="RefPed" type="xsd:string"/>		
			<xsd:element nillable="false" minOccurs="1" name="IdPaquete" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    
    
       		<xsd:complexType name="PosicionGeneral" >
		<xsd:sequence>
			<xsd:element name="RefPos" type="xsd:string" />
			<xsd:element name="CodMat" type="xsd:string" />
			<xsd:element name="Cantidad" type="xsd:string" />
			<xsd:element name="UnidadMedida" type="xsd:string" />
			<xsd:element name="PreNet" type="xsd:string"></xsd:element>
			<xsd:element name="TaxCod" type="xsd:string"></xsd:element>
            <xsd:element name="FecEnt" type="xsd:string"></xsd:element>
            <xsd:element name="IndAdi" type="xsd:string"></xsd:element>
		</xsd:sequence>
       		</xsd:complexType>
    <xsd:element name="PosicionGeneral" type="srv:PosicionGeneral" /> 
  </xsd:schema>