GestionHumana/Casting-ConsultarActores-SV/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tempuri.org/">
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/WEB.CARACOL.CASTING.WebServices.ServiceModel" schemaLocation="xsd_xsd2.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarActores">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="nombres" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="apellidos" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarActoresResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarActoresResult" nillable="true" type="q1:ArrayOfActor" xmlns:q1="http://schemas.datacontract.org/2004/07/WEB.CARACOL.CASTING.WebServices.ServiceModel"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ArchivoHojaVida">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="cedula" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ArchivoHojaVidaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ArchivoHojaVidaResult" nillable="true" type="xsd:base64Binary"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>