Seguridad/WSDL/Seguridad_Autentica/Fachada/AutenticaUsuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.caracoltv.com.co/TI/seguridad/autentica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/autentica/">
  <!--wrapper element of the request message-->
  <xsd:element ibmSchExtn:docRoot="true" name="SeguridadAutenticaRequest" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="usuarioId" type="xsd:string"/>
        <xsd:element name="contrasena" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="SeguridadAutenticaResponse" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="UsuarioAutenticarResult" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>