Xcalibur/Ausencias-AnularAprobacionVacaciones-CH/AnularAprobacionVacaciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/nomina/ausencias/anularaprobacionvacaciones/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/nomina/ausencias/anularaprobacionvacaciones/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="AnularAprobacionVacacionesRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="1"  name="SolicitudAusenciaId" type="xsd:int"/>				
				<xsd:element nillable="true" minOccurs="1"  name="NumeroIdentificacion" type="xsd:string"/>				
				<xsd:element nillable="true" minOccurs="1"  name="Comentarios" type="xsd:string"/>
				<xsd:element nillable="true" minOccurs="1"  name="Usuario" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="AnularAprobacionVacacionesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="1" name="Estado" type="xsd:boolean"/>        
				<xsd:element nillable="true" minOccurs="1"  name="Mensaje" type="xsd:string"/>	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
  </xsd:schema>