TI/MDM-EliminarProveedor/Proveedor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ti/eliminarproveedor/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:srv="http://www.caracoltv.com.co/ti/eliminarproveedor/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Proveedor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Codigo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Estado" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Resultado">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Eliminado" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>		
  </xsd:schema>