VentasInternacionales/VentasInternacionales-ContratoVigenteXProduccionXContrato-CH/ContratoVigente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/contratovigentexproduccionidxcontratoid/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/contratovigentexproduccionidxcontratoid/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="contratovigentexproduccionidxcontratoidRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="0"  name="ContratoId" type="xsd:int"/>
				<xsd:element nillable="true" minOccurs="0"  name="ProduccionId" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="contratovigentexproduccionidxcontratoidResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="0" name="VigenciaContrato" type="xsd:boolean"/>        	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
  </xsd:schema>