Seguridad/Seguridad-FuncionalidadesHijas-CH/seguridad_funcionalidadeshijas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/seguridad/funcionalidadeshijas/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/funcionalidadeshijas/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="FuncionalidadesHijasRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="funcionalidadid" type="xsd:int"/>			
				<xsd:element nillable="false" minOccurs="1" name="usuarioid" type="xsd:string"/>		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="FuncionalidadesHijasResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Funcionalidad"  type="srv:Funcionalidad"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Funcionalidad" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Acceso" type="xsd:boolean"/>		
			<xsd:element nillable="false" minOccurs="1" name="Contenido" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Id" type="xsd:int"/>
			<xsd:element nillable="false" minOccurs="1" name="Imagen" type="xsd:string"/>						
			<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Funcionalidad" type="srv:Funcionalidad" />    
  </xsd:schema>