Seguridad/Seguridad-PerfilesXSistema-CH/seguridad_perfilesxsistema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/seguridad/perfilesxsistema/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/perfilesxsistema/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="PerfilesXSistemaRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="sistemaid" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="PerfilesXSistemaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Perfil"  type="srv:Perfil"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Perfil" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Id" type="xsd:int"/>		
			<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Hijas"  type="srv:Hijas"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Perfil" type="srv:Perfil" />    
		<xsd:complexType name="Hijas" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Id" type="xsd:int"/>		
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Perfil"  type="srv:Perfil"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Hijas" type="srv:Hijas" />    
  </xsd:schema>