TI/Registro-CrearEventoNegocio-CH/creareventonegocio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ti/registro/creareventonegocio/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wscdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ti/registro/creareventonegocio/">
<!-- wrapper element of the request message -->	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearEventoNegocioRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="SistemaId" type="xsd:integer"/>
				<xsd:element nillable="false" minOccurs="1" name="UsuarioId" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="AplicacionOrigen" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ComponenteOrigen" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ModuloFuncional" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CodigoTransaccion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="AccionEjecutada" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Entidad" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="DetalleTransaccion" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearEventoNegocioResponse">

		<xsd:complexType>
			<xsd:sequence>				
				<xsd:element minOccurs="0" name="Respuesta" type="xsd:boolean"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
  </xsd:schema>