VentasInternacionales/VentasInternacionales-ConsultaProduccionesXContratoId-CH/ConsultaProduccionesXContratoId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultaproduccionesxcontratoid/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultaproduccionesxcontratoid/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="consultaproduccionesxcontratoidRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="0"  name="ContratoId" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="consultaproduccionesxcontratoidResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Produccion" type="srv:Produccion"/>        	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	

    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Produccion">
	<xsd:sequence>
			<xsd:element nillable="true" minOccurs="0" name="FormatoId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="GeneroId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="Anno" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="CapMinutos" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="CentroCosto" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="CueSheets" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="CueSheetsDetalles" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="FechaCreacion" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="FechaModificacion" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="GeneroNombre" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="ProduccionId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="ProduccionIdioma" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="IdiomaDoblajes" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="IdiomaSubtitulajes" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="Libretos" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="LibretosIdiomas" type="xsd:string"/>			
			<xsd:element nillable="true" minOccurs="0" name="MasterBI" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="MasterME" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="Nombre" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="NrCapitulos" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="Observaciones" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="PromocionesImpresos" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="PromocionesOtros" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="PromocionesVideo" type="xsd:boolean"/>
			<xsd:element nillable="true" minOccurs="0" name="Reparto" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="Sinopsis" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="UsuarioCreacion" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="UsuarioModificacion" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="0" name="VencimientoDerechos" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="SistemaId" type="xsd:int"/>
      	</xsd:sequence>
    </xsd:complexType>
	<xsd:element name="Produccion" type="srv:Produccion" />
  </xsd:schema>