Publica/Nomina-CrearSolicitudVacaciones-SV-PR/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tempuri.org/">
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioCrearSolicitud" schemaLocation="xsd_xsd2.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="GenerarSolicitud">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="objSolicitudVacaciones" nillable="true" type="q1:SolicitudVacaciones" xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioCrearSolicitud"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="GenerarSolicitudResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="GenerarSolicitudResult" nillable="true" type="q2:RespuestaSolicitud" xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioCrearSolicitud"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>