VentasInternacionalesREST/InternationalSales_CustomerGetByCustomer/xsd_xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Caracol.VI.Produccion" xmlns:tns="http://schemas.datacontract.org/2004/07/Caracol.VI.Produccion">
  <xsd:complexType name="ArrayOfProduccion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Produccion" nillable="true" type="tns:Produccion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfProduccion" nillable="true" type="tns:ArrayOfProduccion"/>
  <xsd:complexType name="Produccion">
    <xsd:sequence>
      <xsd:element name="_formatoId" nillable="true" type="xsd:int"/>
      <xsd:element name="_generoId" nillable="true" type="xsd:int"/>
      <xsd:element name="_produccionAnno" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionCapMinutos" nillable="true" type="xsd:int"/>
      <xsd:element name="_produccionCentroCosto" nillable="true" type="xsd:int"/>
      <xsd:element name="_produccionCueSheets" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionCueSheetsDetalles" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionFechaCreacion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_produccionFechaModificacion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_produccionGeneroNombre" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionId" nillable="true" type="xsd:int"/>
      <xsd:element name="_produccionIdioma" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionIdiomaDoblajes" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionIdiomaSubtitulajes" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionLibretos" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionLibretosIdiomas" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionMasterBI" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionMasterME" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionNombre" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionNrCapitulos" nillable="true" type="xsd:int"/>
      <xsd:element name="_produccionObservaciones" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionPromocionesImpresos" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionPromocionesOtros" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionPromocionesVideo" nillable="true" type="xsd:boolean"/>
      <xsd:element name="_produccionReparto" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionSinopsis" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionUsuarioCreacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionUsuarioModificacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_produccionVencimientoDerechos" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_sistemaId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Produccion" nillable="true" type="tns:Produccion"/>
</xsd:schema>