Xcalibur/XCalibur-ConsultaCentrosCosto-SV/CentrosCostaXcalibur_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.caracoltv.com.co/Xcalibur/CG/CentrosCostos/ConsultaCecos" xmlns:S1="urn:soap-fault:details" xmlns:S2="http://www.caracoltv.com.co/Xcalibur/CG/CentrosCostos/ConsultaCecos" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.caracoltv.com.co/Xcalibur/CG/CentrosCostos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <complexType name="ConsultaCecos_CentroCostoRow">
    <sequence>
      <element name="Ubicacion" nillable="true" type="int"/>
      <element name="Nombre" nillable="true" type="string"/>
      <element name="CentroCosto" nillable="true" type="string"/>
      <element name="Clase" nillable="true" type="string"/>
      <element name="Rango" nillable="true" type="string"/>
    </sequence>
  </complexType>
  <complexType name="ConsultaCecos_CentroCostoParam">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="CentroCostoRow" type="S2:ConsultaCecos_CentroCostoRow"/>
    </sequence>
  </complexType>
  <element ibmSchExtn:docRoot="true" name="ConsultaCecos">
    <complexType>
      <sequence>
        <element name="ipCia" nillable="true" type="int"/>
        <element name="ipUbicacion" nillable="true" type="string"/>
        <element name="ipNombre" nillable="true" type="string"/>
        <element name="ipCodSap" nillable="true" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element ibmSchExtn:docRoot="true" name="ConsultaCecosResponse">
    <complexType>
      <sequence>
        <element name="result" nillable="true" type="string"/>
        <element name="CentroCosto" nillable="true" type="S2:ConsultaCecos_CentroCostoParam"/>
        <element name="opError" nillable="true" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>