Xcalibur/XCalibur-ConsultaUbicacionesModificadas-CH/Xcalibur_consultaUbicacionesModificadas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/financiera/xcalibur/consultaubicacionesmodificadas/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/financiera/xcalibur/consultaubicacionesmodificadas/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUbicacionesModificadasRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:int"/>
				<xsd:element nillable="true"  minOccurs="0" name="Ubicacion" type="xsd:int"/>
				<xsd:element nillable="false" name="FechaModificacion" type="xsd:date"/>
				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUbicacionesModificadasResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Ubicaciones"  minOccurs="0" type="srv:Ubicaciones"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Ubicaciones" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Ubicacion" type="srv:Ubicacion"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Ubicaciones" type="srv:Ubicaciones" />    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Ubicacion">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="UbicacionIdCompania" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionId" type="xsd:int"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionNombre"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionCentroBeneficio" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionCentroCosto" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionOrdenInterna"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionActivo"  type="xsd:boolean"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionFechaActualizacion"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionFechaVencimiento"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionClase"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionCuentaDesde"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="UbicacionCuentaHasta"  type="xsd:string"/>                                                                       
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Ubicacion" type="srv:Ubicacion" />
  </xsd:schema>