VentasInternacionalesREST/InternationalSales_CustomerGetContractByCustomer/xsd_xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente" xmlns:tns="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente">
  <xsd:complexType name="ArrayOfCliente">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente"/>
  <xsd:complexType name="Cliente">
    <xsd:sequence>
      <xsd:element name="_clienteCampo1" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteCampo2" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteCampo3" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteCampo4" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteCampo5" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteCiudad" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteDireccion" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteEMail" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteFax" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteFechaCreacion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_clienteFechaDesde" nillable="true" type="xsd:int"/>
      <xsd:element name="_clienteFechaModificacion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_clienteId" nillable="true" type="xsd:int"/>
      <xsd:element name="_clienteLegalDenominacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteLegalNrTributario" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteLegalRepresentante" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteLegalRepresentanteId" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteNombre" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteObservaciones" nillable="true" type="xsd:string"/>
      <xsd:element name="_clientePaisNombre" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteSiglas" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteSitioWeb" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteTelefono1" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteTelefono2" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteTelefono3" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteTelefono4" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteUsuarioCreacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_clienteUsuarioModificacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_derechoId" nillable="true" type="xsd:int"/>
      <xsd:element name="_formatoId" nillable="true" type="xsd:int"/>
      <xsd:element name="_paisId" nillable="true" type="xsd:int"/>
      <xsd:element name="_sistemaId" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Cliente" nillable="true" type="tns:Cliente"/>
  <xsd:complexType name="ArrayOfContratos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contratos" nillable="true" type="tns:Contratos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfContratos" nillable="true" type="tns:ArrayOfContratos"/>
  <xsd:complexType name="Contratos">
    <xsd:sequence>
      <xsd:element name="_conProduccionFinCesion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_conProduccionInicioCesion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_contratoId" type="xsd:int"/>
      <xsd:element name="_contratoNumero" type="xsd:int"/>
      <xsd:element name="_contratoTipo" type="xsd:int"/>
      <xsd:element name="_contratoVigencia" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_fechaSistema" type="xsd:dateTime"/>
      <xsd:element name="_produccionNombre" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Contratos" nillable="true" type="tns:Contratos"/>
  <xsd:complexType name="ArrayOfContactos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contactos" nillable="true" type="tns:Contactos"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfContactos" nillable="true" type="tns:ArrayOfContactos"/>
  <xsd:complexType name="Contactos">
    <xsd:sequence>
      <xsd:element name="_clienteId" type="xsd:int"/>
      <xsd:element name="_contactoCargo" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoDireccion" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoEMail" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoExtension" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoFechaCreacion" type="xsd:dateTime"/>
      <xsd:element name="_contactoFechaModificacion" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="_contactoId" type="xsd:int"/>
      <xsd:element name="_contactoNombre" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoTelefono" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoUsuarioCreacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_contactoUsuarioModificacion" nillable="true" type="xsd:string"/>
      <xsd:element name="_paisCliente" nillable="true" type="xsd:string"/>
      <xsd:element name="_tipoContactoId" type="xsd:int"/>
      <xsd:element name="_tipoContactoNombre" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Contactos" nillable="true" type="tns:Contactos"/>
</xsd:schema>