TI/LDAP-ConsultaUsuariosDominio-CH/DirectorioActivo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/seguridad/consultausuariosdominio/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/consultausuariosdominio/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUsuariosDominioRequest">
		<xsd:complexType>
			<xsd:sequence>	
			
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUsuariosDominioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Usuario"  type="srv:Usuario"/>

			</xsd:sequence>
		</xsd:complexType>				
	</xsd:element>	
	<xsd:complexType name="Usuario" >
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoUsuarioId" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoCorreo" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoNombres" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoApellidos" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoNombreCompleto" type="xsd:string"/>				
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoArea" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoCargo" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoCedula" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DirectorioActivoCentroCosto" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Usuario" type="srv:Usuario" />  	
  </xsd:schema>