TI/GestionarUsuarios-ConsultaUsuarioDominioXLoginYCedula/consultausuariodominioxloginycedula.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/ti/gestionarusuarios/consultausuariodominioxloginycedula/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/ti/gestionarusuarios/consultausuariodominioxloginycedula/">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUsuarioDominioXLoginYCedulaRequest">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element maxOccurs="1" minOccurs="1" name="Login" type="xsd:string"/>
				 <xsd:element nillable="true" maxOccurs="1" minOccurs="0" name="Cedula" type="xsd:string"/>		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaUsuarioDominioXLoginYCedulaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ExisteLogin" type="xsd:boolean"/> 
				<xsd:element name="ExisteCedula" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	   	
		   	
  </xsd:schema>