Biometrico/Biometricos-RegistrarNovedadEmpleado-SV/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tempuri.org/">
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/CLiquida.Servicios.ServiciosCaracol" schemaLocation="xsd_xsd2.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="RegistrarNovedadEmpleado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="novedad" nillable="true" type="q1:Novedad" xmlns:q1="http://schemas.datacontract.org/2004/07/CLiquida.Servicios.ServiciosCaracol"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="RegistrarNovedadEmpleadoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="RegistrarNovedadEmpleadoResult" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>