GestionHumana/IndiceTalento-ActualizarIdentificacionTalento-CH/ActualizarIdentificacionTalento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/mercadeo/indicetalento/actualizaridentificaciontalento/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/mercadeo/indicetalento/actualizaridentificaciontalento/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ActualizarIdentificacionTalentoRequest">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element nillable="false" minOccurs="1"  name="TalentoCodigo" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1"  name="NumeroIdentificacion" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->			

  </xsd:schema>