Publica/Nomina-ConsultaAprobadoresVacaciones-SV/RemoteFiles/xsd_xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioConsultarAprobadores" xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioConsultarAprobadores">
  <xsd:complexType name="ArrayOfUsuario">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario"/>
  <xsd:complexType name="Usuario">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Correo" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Nombre" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UsuarioId" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Usuario" nillable="true" type="tns:Usuario"/>
</xsd:schema>