Xcalibur/GestionDocumental-ConsultaDocumentoxTipoDocumental-CH/GD_ConsultaDocumentoxTipoDocumental.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.caracoltv.com.co/gestiondocumental/consultadocumentoxtipodocumental/" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/gestiondocumental/consultadocumentoxtipodocumental/">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" 
  name="ConsultaDocumentoXTipoDocumentalRequest">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element name="TipoDocumental" type="xsd:string"/>
      			 <xsd:element maxOccurs="1" minOccurs="1" name="KeyWords"  type="srv:KeyWords"/> 
      			 <xsd:element maxOccurs="1" minOccurs="1" name="KeyWordFilters"  type="srv:KeyWordFilters"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" 
	name="ConsultaDocumentoXTipoDocumentalResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="IdDocumento" type="xsd:integer"/>
				<xsd:element minOccurs="0" name="Nombre" type="xsd:string"/>
				<xsd:element minOccurs="0" name="UltimaRevision" type="xsd:integer"/>
				<xsd:element minOccurs="0" name="TipoDocumental" type="xsd:string"/>
				<xsd:element minOccurs="0" name="FechaCreacion" type="xsd:dateTime"/>
				<xsd:element minOccurs="0" name="Paginas"  type="srv:Paginas"/>	
				<xsd:element minOccurs="0" name="KeyWords"  type="srv:KeyWords"/> 			
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="KeyWordFilters" >
		<xsd:sequence>				
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="KeyWordFilter"  type="srv:KeyWordFilter"/>				
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyWordFilters" type="srv:KeyWordFilters" />     
	<xsd:complexType name="KeyWordFilter" >
		<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>				
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyWordFilter" type="srv:KeyWordFilter" />     
	<xsd:complexType name="Paginas" >
		<xsd:sequence>				
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="Pagina"  type="srv:Pagina"/>				
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Paginas" type="srv:Paginas" />   
    	<xsd:complexType name="Pagina" >
		<xsd:sequence>
				<xsd:element name="Extension" type="xsd:string"/>	
				<xsd:element name="Valor" type="xsd:base64Binary"/>						
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Pagina" type="srv:Pagina" />   	 

    <xsd:complexType name="KeyWords">
    <xsd:sequence>				
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="KeyWord"  type="srv:KeyWord"/>				
      	</xsd:sequence></xsd:complexType>
<xsd:element name="KeyWords" type="srv:KeyWords" />   
    	<xsd:complexType name="KeyWord" >
		<xsd:sequence>
				<xsd:element name="Nombre" type="xsd:string"/>	
				<xsd:element name="Valor" type="xsd:string"/>						
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyWord" type="srv:KeyWord" />      	
</xsd:schema>