GestionHumana/IndiceTalento-ConsultaTalentoXcodigo-CH/ConsultaTalentoXCodigo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/mercadeo/indicetalento/consultatalentoxcodigo/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/mercadeo/indicetalento/consultatalentoxcodigo">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaTalentoXCodigoRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1"  name="TalentoCodigo" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaTalentoXCodigoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="TalentoCodigo" type="xsd:int"/>
            	<xsd:element nillable="false" minOccurs="1" name="Foto" type="xsd:base64Binary"/>
            	<xsd:element nillable="false" minOccurs="1" name="NombreCompleto" type="xsd:string"/>
            	<xsd:element nillable="false" minOccurs="1" name="RutaPdfUltimoEstudio" type="xsd:string"/>
            	<xsd:element nillable="false" minOccurs="1" name="TalentoId" type="xsd:int"/>            	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	

  </xsd:schema>