SAP/GestionLogistica-RecibirRespuestaMigoPedido-CH/RecibirSAP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/transportes/gestionlogistica/recibirrespuestamigopedido/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/transportes/gestionlogistica/recibirrespuestamigopedido/">
  <!--wrapper element of the request message-->
  
 <!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="RecibirRespuestaMigoPedidoRequest">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Respuesta"  type="srv:Respuesta"/>
						
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="RecibirRespuestaMigoPedidoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="EstadoRecibido" type="xsd:boolean"/>					
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Respuesta" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Fecha" type="xsd:date"/>		
			<xsd:element nillable="false" minOccurs="1" name="SistemaOrigen" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="NombreServicio" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TipoMensaje" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="CodigoMensaje" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Mensaje" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="NumDocumentoGenerado" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="NumDocumentoReferencia" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="IdPaquete" type="xsd:string"/>					
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Respuesta" type="srv:Respuesta" />    	
  </xsd:schema>