GestionHumana/Casting-ConsultarActores-CH/castingconsultaractores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/casting/consultaractores/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/TI/casting/consultaractores/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultarActoresRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="nombres" type="xsd:string"/>		
				<xsd:element nillable="false" minOccurs="1" name="apellidos" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultarActoresResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Actor"  type="srv:Actor"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Actor" >
		<xsd:sequence>
			<xsd:element nillable="true" minOccurs="1" name="cedula" type="xsd:string"/>		
			<xsd:element nillable="true" minOccurs="1" name="foto" type="xsd:base64Binary"/>
			<xsd:element nillable="true" minOccurs="1" name="nombres" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="tienehojavida" type="xsd:boolean"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Actor" type="srv:Actor" /> 	    
  </xsd:schema>