VentasInternacionales/VentasInternacionales-ConsultaContratoXProduccionXContratoId-SV/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tempuri.org/">
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente" schemaLocation="xsd_xsd2.xsd"/>
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/Caracol.VI.Produccion" schemaLocation="xsd_xsd3.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarClientesServicio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="ciudad" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="siglas" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarClientesServicioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarClientesServicioResult" nillable="true" type="q1:ArrayOfCliente" xmlns:q1="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarContratosServicio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="clienteId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarContratosServicioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarContratosServicioResult" nillable="true" type="q2:ArrayOfContratos" xmlns:q2="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarProducionesServicio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="annoProduccion" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarProducionesServicioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarProducionesServicioResult" nillable="true" type="q3:ArrayOfProduccion" xmlns:q3="http://schemas.datacontract.org/2004/07/Caracol.VI.Produccion"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarContactosServicio">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="clienteId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="nombre" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarContactosServicioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarContactosServicioResult" nillable="true" type="q4:ArrayOfContactos" xmlns:q4="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="BuscarProducccionesXContrato">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="produccionId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="contratoId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="BuscarProducccionesXContratoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="BuscarProducccionesXContratoResult" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="BuscarProducccionesXContratoId">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="contratoId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="BuscarProducccionesXContratoIdResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="BuscarProducccionesXContratoIdResult" nillable="true" type="q5:ArrayOfProduccion" xmlns:q5="http://schemas.datacontract.org/2004/07/Caracol.VI.Produccion"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarDatosContrato">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="produccionId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="contratoId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarDatosContratoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarDatosContratoResult" nillable="true" type="q6:ArrayOfContratos" xmlns:q6="http://schemas.datacontract.org/2004/07/Caracol.VI.Cliente"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarTipoContrato">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="contratoId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarTipoContratoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarTipoContratoResult" type="xsd:short"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>