Publica/Seguridad-GenerarToken-SV/AutenticaUsuario.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.caracoltv.com.co/TI/seguridad/autentica/" xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/autentica/">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="SeguridadAutenticaRequest">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element name="usuarioId" type="xsd:string"/>
      			 <xsd:element name="contrasena" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="SeguridadAutenticaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UsuarioAutenticarResult" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element> 
</xsd:schema>