Publica/Seguridad-GenerarToken-SV/seguridad_perfilesxsistemayusuario.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.caracoltv.com.co/TI/seguridad/perfilesxsistemayusuario/" xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/perfilesxsistemayusuario/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="PerfilesXSistemaYUsuarioRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="sistemaid" nillable="false" type="xsd:int"/>							
				<xsd:element minOccurs="1" name="usuarioid" nillable="false" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="PerfilesXSistemaYUsuarioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Perfil" type="srv:Perfil"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Perfil">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="Id" nillable="false" type="xsd:int"/>		
			<xsd:element minOccurs="1" name="Nombre" nillable="false" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Hijas" type="srv:Hijas"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Perfil" type="srv:Perfil"/>    
		<xsd:complexType name="Hijas">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="Id" nillable="false" type="xsd:int"/>		
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Perfil" nillable="true" type="srv:Perfil"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Hijas" type="srv:Hijas"/>    	
  </xsd:schema>