Seguridad/Seguridad-UsuariosXSistema-CH/usuariosxsistema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/TI/seguridad/usuariosxsistema/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ti/seguridad/canonico/usuario/">
<!-- wrapper element of the request message -->
    <xsd:import schemaLocation="Usuario.xsd" namespace="http://www.caracoltv.com.co/ti/seguridad/canonico/usuario/"></xsd:import>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="UsuariosXSistemaRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="SistemaId" type="xsd:int"/>		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="UsuariosXSistemaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Usuario" type="srv:Usuario"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	



</xsd:schema>