TI/MDM-ConsultaProveedores/RemoteFiles/xsd_xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
targetNamespace="http://www.w3.org/2005/09/ws-i18n" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
xmlns:mds="http://schemas.microsoft.com/sqlserver/masterdataservices/2009/09"  
xmlns:tns="http://www.w3.org/2005/09/ws-i18n">
  <xsd:import namespace="http://schemas.microsoft.com/sqlserver/masterdataservices/2009/09" schemaLocation="xsd_xsd0.xsd"/>
  <xsd:complexType name="International">
    <xsd:complexContent mixed="false">
      <xsd:extension base="q1:DataContractBase" xmlns:q1="http://schemas.microsoft.com/sqlserver/masterdataservices/2009/09">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Locale" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Tz" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="International" nillable="true" type="tns:International"/>
</xsd:schema>