Correo/Correo-EnvioCorreoXPerfiles-SV/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tempuri.org/">
  <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades" schemaLocation="xsd_xsd2.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioAutenticar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="contrasena" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioAutenticarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="UsuarioAutenticarResult" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioCargar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioCargarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="UsuarioCargarResult" nillable="true" type="q1:Usuario" xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuariosDePerfil">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="perfilId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuariosDePerfilResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="UsuariosDePerfilResult" nillable="true" type="q2:ArrayOfUsuario" xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PermisosDeFuncionalidadXUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PermisosDeFuncionalidadXUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PermisosDeFuncionalidadXUsuarioResult" nillable="true" type="q3:ArrayOfPermiso" xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesHijas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesHijasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="FuncionalidadesHijasResult" nillable="true" type="q4:ArrayOfFuncionalidad" xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaXUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="sistemaId" nillable="true" type="xsd:string"/>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaXUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PerfilesDeSistemaXUsuarioResult" nillable="true" type="q5:Perfil" xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PerfilesDeSistema">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="sistemaId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PerfilesDeSistemaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PerfilesDeSistemaResult" nillable="true" type="q6:Perfil" xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesVisiblesDeSistemaXUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
        <xsd:element minOccurs="0" name="usuarioId" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesVisiblesDeSistemaXUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="FuncionalidadesVisiblesDeSistemaXUsuarioResult" nillable="true" type="q7:Funcionalidad" xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarFuncionalidad">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ConsultarFuncionalidadResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ConsultarFuncionalidadResult" nillable="true" type="q8:FuncionalidadDetallada" xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesMigas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesMigasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="FuncionalidadesMigasResult" nillable="true" type="q9:ArrayOfFuncionalidad" xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesAyuda">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="funcionalidadId" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="FuncionalidadesAyudaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="FuncionalidadesAyudaResult" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsariosXListaPerfiles">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="lstPerfiles" nillable="true" type="q10:ArrayOfPerfil" xmlns:q10="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsariosXListaPerfilesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="UsariosXListaPerfilesResult" nillable="true" type="q11:ArrayOfUsuario" xmlns:q11="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioXCedula">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="cedula" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="UsuarioXCedulaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="UsuarioXCedulaResult" nillable="true" type="q12:Usuario" xmlns:q12="http://schemas.datacontract.org/2004/07/ServiciosModuloUsuarios.Entidades"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>