VentasInternacionales/VentasInternacionales-ConsultaContratoXProduccionXContratoId-CH/ConsultaContratoXContratoIdYProduccionId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultacontratoxcontratoidxproduccionid/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/ventasinternacionales/gestionmovimientos/consultacontratoxcontratoidxproduccionid/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="consultacontratoxcontratoidxproduccionidRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="true" minOccurs="0"  name="ContratoId" type="xsd:int"/>				
				<xsd:element nillable="true" minOccurs="0"  name="ProduccionId" type="xsd:int"/>				
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="consultacontratoxcontratoidxproduccionidResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0"  name="Contrato" type="srv:Contrato"/>        	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	    
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="Contrato">
	<xsd:sequence>
			<xsd:element nillable="true" minOccurs="0" name="FinSesion" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="InicioSesion" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="ContratoId" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="ContratoTipo" type="xsd:short"/>
			<xsd:element nillable="true" minOccurs="0" name="ContratoNumero" type="xsd:int"/>
			<xsd:element nillable="true" minOccurs="0" name="ContratoVigencia" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="FechaSistema" type="xsd:dateTime"/>
			<xsd:element nillable="true" minOccurs="0" name="ProduccionNombre" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
	<xsd:element name="Contrato" type="srv:Contrato" />
  </xsd:schema>