Xcalibur/Nomina-CrearCertificadoLaboralPdf-CH/crearcertificadolaboralpdfv2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/nomina/xcalibur/crearcertificadolaboralpdfv2/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/nomina/xcalibur/crearcertificadolaboralpdfv2/">
<!-- wrapper element of the request message -->	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearCertificadoLaboralPdfRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CertificadoLaboral" maxOccurs="unbounded" minOccurs="0" 
				type="srv:CertificadoLaboral"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CrearCertificadoLaboralPdfResponse">

		<xsd:complexType>
			<xsd:sequence>				
				<xsd:element minOccurs="0" name="ArchivoPdf" type="xsd:string"/>
				<xsd:element minOccurs="0" name="ArchivoCSV" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	<!-- Type referenced by the wrapper element of the response message -->
	<xsd:complexType name="CertificadoLaboral">
	<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="DsNo" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Nombres" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Cedula" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="FechaIngreso" type="xsd:date"/>
            <xsd:element nillable="false" minOccurs="1" name="Cargo" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="TipoContrato"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Asignacion"  type="xsd:decimal"/>            
            <xsd:element nillable="false" minOccurs="1" name="Solicitud" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Destino" type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="TipoAsignacion"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Ficha"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Empresa"  type="xsd:string"/>
            <xsd:element nillable="false" minOccurs="1" name="Estado"  type="xsd:string"/>            
            <xsd:element nillable="false" minOccurs="1" name="VisualizarSueldo"  type="xsd:boolean"/>
      	</xsd:sequence>
    </xsd:complexType>
  </xsd:schema>