TI/MDM-ActualizarCliente/Cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/ti/mdm/canonico/cliente/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:srv="http://www.caracoltv.com.co/ti/mdm/canonico/cliente/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Cliente">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Codigo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Nombre" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoIdentificacion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="GrupoCuenta" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Pais" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Departamento" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Ciudad" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Direccion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono1" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono2" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Telefono3" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Email" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Contacto" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="NombreAlternativo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ZonaPostal" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="SitioWeb" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="RepresentanteLegal" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="MatriculaMercantil" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="NitSinDigito" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="DigitoVerificacion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoEstablecimientoComercial" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Responsabilidades" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="UsuarioAduanero" type="xsd:string"/>				
				<xsd:element nillable="false" minOccurs="1" name="CodigoSAP" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="CuentaAsociada" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ClaseImpuesto" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Estado" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Plataforma" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Compania" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoEmpresa" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Rut" type="xsd:string"/>				
				<xsd:element nillable="false" minOccurs="1" name="EmailFacturacion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="Responsabilidades2" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="ProveedorRelacionadoSAP" type="xsd:string"/>																
				<xsd:element nillable="false" minOccurs="1" name="ProveedorCuentaSAP" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="IdXCalibur" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="TipoPersona" type="xsd:string"/>	
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Resultado">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="Code" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>		
  </xsd:schema>