Biometrico/GestionarOrdenCompra-RecibirOrdenCompra/OrdenCompraSAP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/logisticaytransporte/gestionarordencompra/recibirordencompra/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/logisticaytransporte/gestionarordencompra/recibirordencompra/">
  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="RecibirOrdenCompraRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="PedidoCompras"  type="srv:PedidoCompras"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:element name="PedidoCompras" type="srv:PedidoCompras" />  
	<xsd:complexType name="PedidoCompras" >
		<xsd:sequence>					
			<xsd:element maxOccurs="1" minOccurs="1" name="Cabecera" type="srv:Cabecera"/>
			<xsd:element maxOccurs="1" minOccurs="1" name="Detalle" type="srv:Detalle"/>
      	</xsd:sequence>
    </xsd:complexType>
    
	<xsd:complexType name="Cabecera" >
		<xsd:sequence>					
			<xsd:element nillable="true" minOccurs="1" name="NumeroPedido" type="xsd:decimal"/>
			<xsd:element nillable="true" minOccurs="1" name="FechaDocumento" type="xsd:date"/>
			<xsd:element nillable="true" minOccurs="1" name="CreadoPor" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="Solicitante" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="CodigoProveedor" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="NombreProveedor" type="xsd:string"/>			
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Cabecera" type="srv:Cabecera" />
	<xsd:complexType name="Detalle" >
		<xsd:sequence>					
			<xsd:element maxOccurs="unbounded" minOccurs="0"  name="Item" type="srv:Item"/>
      	</xsd:sequence>
    </xsd:complexType>          
	<xsd:element name="Detalle" type="srv:Detalle" />
		<xsd:complexType name="Item" >
		<xsd:sequence>
			<xsd:element nillable="false" minOccurs="1" name="Posicion" type="xsd:decimal"/>
			<xsd:element nillable="false" minOccurs="1" name="NumeroSolicitudPedido" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="PosicionSolicitudPedido" type="xsd:decimal"/>
			<xsd:element nillable="false" minOccurs="1" name="FechaEntrega" type="xsd:date"/>
			<xsd:element nillable="false" minOccurs="1" name="Material" type="xsd:decimal"/>
			<xsd:element nillable="false" minOccurs="1" name="Cantidad" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="UnidadMedida" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TextoBreve" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TextoPosicion" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="HoraCitacion" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TipoVehiculo" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Destino" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Personas" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="InformacionAdicional" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="CentroCoste" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Orden" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="PrecioNeto" type="xsd:decimal"/>
			<xsd:element nillable="false" minOccurs="1" name="GrupoArticulos" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="GrupoCompras" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="ContratoMarco" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="OrganizacionCompras" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="TipoImputacion" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="NumeroNecesidad" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Almacen" type="xsd:string"/>
			<xsd:element nillable="false" minOccurs="1" name="Borrado" type="xsd:string"/>	
			<xsd:element nillable="true" minOccurs="1" name="Contacto" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="Direccion" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="Telefono" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="Email" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="CodigoPostal" type="xsd:string"/>
			<xsd:element nillable="true" minOccurs="1" name="Ubicacion" type="xsd:string"/>					
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Item" type="srv:Item" /> 
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="RecibirOrdenCompraResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NumeroPedido" type="xsd:string"/> 
				<xsd:element name="Tipo" type="xsd:string"/> 
				<xsd:element name="Mensaje" type="xsd:string"/>					
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>
	   	
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="Credenciales">
		<xsd:complexType>
			<xsd:sequence>
				 <xsd:element name="usuario" type="xsd:string"/>
				 <xsd:element name="contrasena" type="xsd:string"/>				       		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>		
	   	
  </xsd:schema>