Publica/Seguridad-GenerarToken-SV/RemoteFiles/xsd_xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File seguridad_funcionalidadeshijas.xsd, application Seguridad-FuncionalidadesHijas-CH--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.caracoltv.com.co/TI/seguridad/funcionalidadeshijas/" xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:srv="http://www.caracoltv.com.co/TI/seguridad/funcionalidadeshijas/">

	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="FuncionalidadesHijasRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="funcionalidadid" nillable="false" type="xsd:int"/>			
				<xsd:element minOccurs="1" name="usuarioid" nillable="false" type="xsd:string"/>		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
			
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="FuncionalidadesHijasResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Funcionalidad" type="srv:Funcionalidad"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<xsd:complexType name="Funcionalidad">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="Acceso" nillable="false" type="xsd:boolean"/>		
			<xsd:element minOccurs="1" name="Contenido" nillable="false" type="xsd:string"/>
			<xsd:element minOccurs="1" name="Id" nillable="false" type="xsd:int"/>
			<xsd:element minOccurs="1" name="Imagen" nillable="false" type="xsd:string"/>						
			<xsd:element minOccurs="1" name="Nombre" nillable="false" type="xsd:string"/>
      	</xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Funcionalidad" type="srv:Funcionalidad"/>    
  </xsd:schema>