Seguridad/Seguridad-ConsultaFuncionalidad-CH/seguridad_consultafuncionalidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
   targetNamespace="http://www.caracoltv.com.co/seguridad/usuarios/consultafuncionalidad/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:srv="http://www.caracoltv.com.co/seguridad/usuarios/consultafuncionalidad/">
<!-- wrapper element of the request message -->
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaFuncionalidadRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element nillable="false" name="FuncionalidadId" type="xsd:int"/>
		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	
	<!-- wrapper element of the response message -->		
	<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="ConsultaFuncionalidadResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Funcionalidad"  type="srv:Funcionalidad"/>
		
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>	 
<xsd:complexType name="Funcionalidad" >
		<xsd:sequence>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadContenido" type="xsd:string"/>		
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadDescripcion" type="xsd:string"/>				
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadEstado" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadFechaPublicacion" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadFechaValidez" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadId" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadImagen" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadMapa" type="xsd:boolean"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadNombre" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadPosicion" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadSubtitulo" type="xsd:string"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadTipoCategoriaId" type="xsd:int"/>
				<xsd:element nillable="false" minOccurs="1" name="FuncionalidadToolTip" type="xsd:string"/>		
      	</xsd:sequence>
    </xsd:complexType>	  	
     <xsd:element name="Funcionalidad" type="srv:Funcionalidad" />    
  </xsd:schema>