Correo/Correo-CargaPlantillaV1-CH/Correo-AdjuntarPlantilla.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
targetNamespace="http://www.caracoltv.com.co/TI/correo/cargaplantilla/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:S11="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:S12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:srv="http://www.caracoltv.com.co/TI/correo/cargaplantilla/">

  <!--wrapper element of the request message-->
  
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
		ibmSchExtn:docRoot="true" name="CargaPlantillaRequest">
<!--		type="srv:CargaPlantillaRequestType">		-->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="De" type="xsd:string"/>
			      <xsd:element name="Para" type="xsd:string"/>
			      <xsd:element name="Copia" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="CopiaOculta" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Asunto" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Titulo" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Mensaje1" type="xsd:string"/>
			      <xsd:element name="Mensaje2" type="xsd:string"/>
			      <xsd:element name="TextoLink" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Link" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Formato" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Prioridad" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="NombreAdjunto" type="xsd:string" minOccurs="0"/>
			      <xsd:element name="Adjuntos" type="xsd:base64Binary" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>		
	</xsd:element>    
</xsd:schema>